.status {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-right: 5px;
}

.online {
  composes: status;
  background-color: rgb(60, 255, 60);
}

.offline {
  composes: status;
  background-color: rgb(255, 51, 51);
}
