.avatar {
  border-radius: 50%;
}

.name {
  color: rgb(49, 49, 49);
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
}

.tag {
  color: rgb(131, 131, 131);
  padding-bottom: 10px;
}

.location {
  color: rgb(131, 131, 131);
  padding-bottom: 10px;
}
